*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
stats
Dockerfile
__localcode/
agenda_contatos
projeto_blog/comandos
calculadora
secao1_preparacao
secao2_iniciante
secao3_intermediario
secao4_orientado_a_objetos
secao5_modulos_python
secao6_pyside6
secao7_SQL_com_python
secao8_django_basico
secao9_django_projeto_agenda
secao10_projeto_blog
secao13_type_annotations
secao14_structural_pattern_matching
secao17_comandos_SQL
secao18_HTML_CSS
secao20_comandos_linux_unix